/* Lexend */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/font/Lexend-Light.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/Lexend-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/font/Lexend-Medium.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/font/Lexend-SemiBold.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/font/Lexend-Bold.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/font/Lexend-ExtraBold.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/font/Lexend-Black.woff2') format('woff2');
    font-display: swap;
}
.background{
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../assets/image/background.svg');
}
.title-404{
    color: #FFF;
    text-align: center;
    font-family: Lexend;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text-404{
    color: #FFF;
text-align: center;
font-family: Lexend;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 70vw;
margin-top: 8px;
}