/* Lexend */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/font/Lexend-Light.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/Lexend-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/font/Lexend-Medium.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/font/Lexend-SemiBold.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/font/Lexend-Bold.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/font/Lexend-ExtraBold.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/font/Lexend-Black.woff2') format('woff2');
    font-display: swap;
}
a{
    text-decoration: none;
}

.galaxy-slide{
    width: 100vw;
    height: 95vh; 
    background-image: url('../assets/image/background.svg');
}
.box-text{
    width: 70vw;
    padding: 35px 65px;
    border-radius: 29px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(7px);
}
.assis{
    margin-top: -120px;
    right: 10vw;
    width: 130px;
    z-index: 99;
    position: absolute;
}
.bottom-box{
    position: absolute;
    bottom: 7vh;
}
.title-galaxy{
    color: #FFF;
    font-family: Lexend;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text-galaxy{
    color: #FFF;
    font-family: Lexend;
    font-size: 17px;
    font-style: normal;
    margin-top: 14px;
    font-weight: 300;
    line-height: normal;
}
.planetes {
    display: grid;
    grid-template-columns: repeat(25, 3vw);
    grid-template-rows: repeat(10, 2vw);
    padding-top: 40px;
}
.flex-planete{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.planete1 {
    grid-area: 5 / 3 / 6 / 3;
}

.planete2 {
    grid-area: 1 / 8 / 1 / 8;
}

.planete3 {
    grid-area: 8 / 15 / 9 / 15;
}

.planete4 {
    grid-area: 3 / 22 / 4 / 22;
}
.planete1  .img-planete{
    width: 260px;
}
.img-planete:nth-child(2){
    width: 200px;
}
.img-planete:nth-child(3){
    width: 150px;
}
.img-planete:nth-child(4){
    width: 200px;
}
.hover-planete {
    display: none; /* Initially hide the text */
    color: #FFF;
    text-align: center;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    margin-top: 150px;
}

/* Show the text when hovering over the corresponding planet */

.img-planete:hover + .hover-planete {
    display: block;
}


.galaxy-slide {
    display: flex;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
}

/* Add these styles at the end of your existing CSS */

.main {
    height: 100vh;
    overflow: hidden;
}
body{
    overflow: hidden;
}
.galaxy {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.galaxy-slide {
    flex: 0 0 100%;
}

.bullet {
    display: flex;
    width: 100vw;
height: 5vh;
    justify-content: center;
    background-image: url('../assets/image/fond.svg');
}

.bullet span {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 5px;
  
    border-radius: 50%;
    display: inline-block;
    background-color: transparent;
    border: solid 1px #FFF;
}

.bullet .active {
    background-color: #DCDDE1;
}

@media screen and (min-width: 801px) and (max-width: 1000px){

    .planetes {
        grid-template-columns: repeat(25, 3vw);
        grid-template-rows: repeat(10, 3vw);
    }

    .planete1 img{
        max-width:230px;
    }
    .planete2 img{
        max-width: 170px;
    }
    .planete3 img{
        max-width: 120px;
    }
    .planete4 img{
        max-width: 170px;
    }
    
    .assis{
        margin-top: -100px;
        width: 110px;
    }
    
}

@media screen and (min-width: 551px) and (max-width: 800px){

    .planetes {
        grid-template-columns: repeat(25, 3vw);
        grid-template-rows: repeat(10, 4vw);
    }

    .planete1 img{
        max-width:200px;
    }
    .planete2 img{
        max-width: 140px;
    }
    .planete3 img{
        max-width: 90px;
    }
    .planete4 img{
        max-width: 140px;
    }
    
    .assis{
        margin-top: -80px;
        width: 90px;
    }
    
}

@media screen and (min-width: 0px) and (max-width: 550px){

    .planete1 img{
        max-width:170px;
    }
    .planete2 img{
        max-width: 110px;
    }
    .planete3 img{
        max-width: 60px;
    }
    .planete4 img{
        max-width:110px;
    }

    .img-planete:hover {
        display: block;
    }
    
    .box-text{
        width: 70vw;
        padding: 5px 5px;
        border-radius: 29px;
        border: 1px solid rgba(255, 255, 255, 0.60);
        background: rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(7px);
    }
    
    .assis{
        margin-top: -60px;
        width: 70px;
    }
}