.galaxy{
    background-image: url('../assets/image/fond.svg');
    width: 100vw;
    height: 100vh;
}

.box-text{
    width: 70vw;
    height: 220px;
    padding: 35px;
    border-radius: 29px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(7px);
}

.title-galaxy{
    color: #FFF;
    font-family: Lexend;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.planetes{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(25, 3vw);
    grid-template-rows: repeat(15, 2vw);
    margin: 20px auto;
}

.planete1{
    grid-area: 2 / 1 / 3 / 1;
    width: 160px;
}

.planete2{
    grid-area: 10 / 8 / 11 / 8;
    width: 100px;
}

.planete3{
    grid-area: 4 / 15 / 4 / 15;
    width: 140px;
}

.planete4{
    grid-area: 6 / 22 / 6 / 22;
    width: 170px;
}