body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  background: url(../assets/image/background.jpg);
  background-position: contain;
  color: #fff;
  font-family: Lexend, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 134.375%;
}
.content {
  margin: 20px auto;
  width: 1200px;
  padding: 0 70px;
  overflow: hidden;
}
.title {
  display: flex;
  justify-content: center;
  position: relative;
}
.title::after {
  width: 40px;
  height: 38px;
  z-index: -1;
  transform: rotate(45deg);
  position: absolute;
  left: 40%;
  top: 68%;
  content: url(../assets/image/info-planete/stars.svg);
}
h1 {
  font-family: Inter;
  font-weight: 500;
  display: inline-block;
  color: #fff;
  top: 5vw;
  right: 5%;
  padding: 25px 50px;
  border-radius: 1.0625rem;
  border: 1px solid rgba(84, 82, 82, 0.22);;
  background: rgba(22, 22, 22, 0.13);
  backdrop-filter: blur(8px);
}
.commands {
  font-family: Inter, sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}


/*removing the basics of a button*/
.audio {
  min-width: 220px;
  cursor: pointer;
  font-size: 20px;
  padding: 0 20px;
  color: #fff;
  gap: 10px;
  justify-content: space-between;
  background: none;
  border: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.22);
  background: rgba(22, 22, 22, 0.13);
  backdrop-filter: blur(7px);
}
.music-player::after {
  width: 40px;
  height: 38px;
  z-index: -1;
  position: absolute;
  right: -5%;
  top: 68%;
  content: url(../assets/image/info-planete/jupiter.svg);
}
.return {
  display: flex;
  gap: 10px;
  align-items: center;
}
.texts {
  display: flex;
  gap: 150px;
  justify-content: space-between;
  margin-top: 50px;
  z-index: 2;
}
.texts p {
  position: relative;
}
.paragraph {
  position: relative;
  padding: 20px;
  max-width: 500px;
  border-radius: 17px;
  border: 1px solid rgba(84, 82, 82, 0.22);
  background: rgba(22, 22, 22, 0.13);
  backdrop-filter: blur(7px);
}
.paragraph:nth-child(1)::after {
  width: 40px;
  height: 38px;
  z-index: -1;
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: scale(0.7) rotate(75deg);

  content: url(../assets/image/info-planete/stars.svg);
}
.paragraph:last-child::before {
  width: 40px;
  height: 38px;
  transform: rotate(110deg);
  position: absolute;
  left: -5%;
  top: 50%;
  content: url(../assets/image/info-planete/stars.svg);
}

.paragraph:last-child::after {
  width: 40px;
  height: 38px;
  transform: rotate(90deg) scale(0.7);
  position: absolute;
  right: -5%;
  top: 120%;
  content: url(../assets/image/info-planete/stars.svg);
}
.container{
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.persos{
  display: absolute;
  width: 10px;
  position: fixed;
  z-index: -1;
}

.ellipse {
  display: block;
  position: absolute;
  user-select: none;
  animation: moveObject 40s infinite linear;
  margin-top: 600px;
  margin-left: 1200px;
}

.promotion{
  width: 2000px;
}

.ressource{
  width: 1800px;
}

.agriculture{
  width: 1500px;
}

.obsolescence{
  width: 1700px;
}

.princesse {
  display: block;
  position: absolute;
  top: 0px;
  width: 200px;
  position: relative;
  z-index: 99;
  margin-top: 200px;
  margin-left: 00px;
}

.rond{
  top: 5vw;
  right: 5%;
  opacity: 0.3;
  position: fixed;
  z-index: -2;
  width: 15vw;
  /*Linear gradient, radial from #fff to alpha*/
  background: radial-gradient(ellipse at center, #fff 0%, rgba(255, 255, 255, 0) 70%);
}
.plante {
  position: absolute;
  top: -110%;
  left: 30%;
}
.man {
  position: absolute;
  top: -100%;
  height: 300px;
}


@keyframes moveObject {
0% {
  transform: translate(-50%, -50%) rotate(0deg);
}
100% {
  transform: translate(-50%, -50%) rotate(360deg);
}
}
/*bouton*/
.music-player{
  background: rgba(22, 22, 22, 0.13);
  width: 249px;
  height: 62px;
  padding: 5px 5px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgba(84, 82, 82, 0.22);;
  backdrop-filter: blur(6.849999904632568px);
}
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.barre{
  display: flex;
}
.music-player{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 40px;
}
#progress{
  width: 100%;
  height:  6px;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}
#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #0A1E40;
  box-shadow: 0 5px 5px rgba(26, 148, 255, 0.2); 
}
.controls{
  display: flex;
  justify-content: left;
  align-items: left;
  padding-right: 40px;
}
.controls div{
  width: 40px;
  height: 40px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #0A1E40;
  box-shadow: 0 10px 20px rgba(26, 148, 255, 0.32);
  cursor: pointer;
}
.controls div:nth-child(2){
  transform: scale(1.5);
  background: #0A1E40;
  color: #fff;
}
button{
  /* removing the basis of a button*/
  border: none;
  background: none;
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
} 
/* version ordinateur */
@media screen and (max-width: 1200px) and (min-width: 800px){
  body{
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1100px){
  .ellipse {
    margin-top: 650px;
    margin-left: 1100px;
  }

  .promo{
    width: 2300px;
  }
  
  .princesse {
    margin-top: 250px;
    margin-left: 1000px;
  }
}

/* version tablette */
@media screen and (max-width: 1100px) and (min-width: 800px){
  body{
    overflow-x: hidden;
  }
  .content {
    width: 600px;
  }
  .ellipse {
    width: 600px;
    margin-top: 600px;
    margin-left: 1000px;
  }
  .princesse{
    display: none;
  }
}

/* version petite tablette */
@media screen and (max-width: 799px) and (min-width: 600px){
  body{
    overflow-x: hidden;
  }
  .content{
    width: 900px;
    margin: 0px auto;
  }
  h1{
    font-size: 50px;
  }
  .paragraph{
    font-size: 25px;
    font-weight: 100;
    margin: 0 auto;
  }
  .texts{
    padding-top: 50px;
  }
  .commands{
    max-width: 0 auto;
    padding-top: 50px;
    padding-right: 200px;
  }
  .return{
    padding-left: 200px;
  }
  .ellipse {
    width: 600px;
    margin-top: 800px;
    margin-left: 1000px;
  }
  .princesse{
    display: none;
  }
  .rond{
    right: 25%;
    top: 10%;
  }
}

@media screen and (max-width: 599px) {
  body{
    overflow-x: hidden;
  }
  h1{
    font-size: 25px;
  }
  .content{
    width: 350px;
    margin: 0px auto;
  }
  .paragraph{
    font-size: 20px;
    font-weight: 0;
    margin: 0 auto;
  }
  .texts{
    justify-content: center;
    margin: 0 auto;
    padding-top: 40px;
  }
  .commands{
    padding-top: 40px;
  }
  .music-player{
    margin: 0 auto;
    width: 175px;
  }
  .return{
    padding-left: 7px;
  }
  .princesse{
    display: none;
  }
  .ellipse {
    width: 700px;
    margin-top: 700px;
    margin-left: 700px;
  }
  .rond{
    top: 130px;
    right: 100px;
  }
}